<!-- Info Section -->
<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="headline centered margin-top-80">
        FAQ
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Quel est le concept ?</h3>
      <p>La plateforme met en relation des restaurateurs et des influenceurs</p>
      <p>Elle s'adresse aux restaurateurs qui veulent augmenter la notoriété de leur restaurant en proposant aux influenceurs une réduction aux infleunceurs en contrepartie les influenceurs devront faire la promotion du restaurant à travers des publications instagram.</p>

      <h3>Quel réseau social est utilisé pour par les influenceurs pour promouvoir les restaurants ?</h3>
      <p>Il est demandé aux influenceurs d'avoir un compte instagram.</p>

      <h3>Y'a-t-il un minimum de followers à avoir pour pouvoir s'inscrire sur la plateforme ?</h3>
      <p>Un influenceur doit avoir au minimum 5 000 followers et en moyenne 500 likes par posts.</p>

      <h3>Existe-t-il des conditions pour s'inscrire sur la plateforme ?</h3>
      <p>Non, aucunes conditions particulière pour s'inscrire sur la plateforme mis à part des informations de base.</p>

      <h3>A qui s'adresse l'abonnement permettant d'enregistrer son restaurant ?</h3>
      <p>Pour les restaurateurs souhaitant enregistrer leur(s) restaurant(s) sur la plateforme pour développer leurs clientèles grâce à la promotion des influenceurs.</p>

      <h3>Peut-on annuler l'abonnement à tout moment ?</h3>
      <p>Oui, il n'y a aucunes conditions pour annuler l'abonnement permettant d'enregistrer son entreprise.</p>
      <p>Par conséquent le/les restaurant(s) enregistrée sur la plateforme du souscripteur seront supprimer.</p>

      <h3>Je suis un influenceur, est ce que je dois payer un abonnement ?</h3>
      <p>Non, aucun abonnement pour les influenceurs.</p>

      <h3>En tant que restaurateur je possède plusieurs restaurants, est ce que je dois payer plusieurs abonnement ?</h3>
      <p>Non, à partir du moment où vous êtes abonnés à la plateforme vous pouvez enregistrer tous vos restaurants.</p>

    </div>
  </div>

</div>
<!-- Info Section / End -->